h2,
h3 {
  text-align: center;
}

.home {
  margin: 0 auto;
}

.form-login {
  text-align: center;
}

.buttons {
  background-color: #ed4671;
  color: white;
  margin: 2em;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}

.login-email,
.login-password {
  padding: 20px;
}

nav {
  display: inline;
  margin: 10px;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 10px;
  font-size: 18px;
}

.img-modify {
  border-radius: 50%;
  width: 2em;
}

.random-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
}

.random-img img {
  width: 200px;
  padding: 2em;
}

.random-info {
  padding: 2em;
  position: relative;
  text-align: left;
}

.random-service {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #60a5fa;
  color: white;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
}
