.add-user-title {
  border-bottom: solid 1px rgb(208, 208, 208);
  text-align: center;
}

.add-user-form {
  margin-top: 40px;
}

.input-add-user {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 10px;
}

.input-add-user label {
  text-align: right;
}

.input-add-user input {
  width: 80%;
  padding: 0;
  border: solid 1px rgb(208, 208, 208);
}

.input-add-user select {
  width: 80%;
  padding: 0;
  border: solid 1px rgb(208, 208, 208);
}

.add-user-form input[type="submit" i] {
  background: linear-gradient(#f87070, #ec4785);
  padding: 10px 20px;
  margin: 0 50%;
  margin-top: 30px;
  border: none;
  color: white;
  font-weight: 600;
}
